{% extends "base.html" %}

{% block content -%}
    {% if request.GET.tag|length -%}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {%- endif %}

    {% if newspages -%}
        {% for newspage in newspages -%}
            <p>
                <strong><a href="{{ pageurl(newspage) }}">{{ newspage.title }}</a></strong><br />
                <small>Revised: {{ newspage.latest_revision_created_at }}</small><br />
                {% if newspage.author -%}
                    <p>By {{ newspage.author.profile }}</p>
                {%- endif %}
            </p>
        {%- endfor %}
    {%- else -%}
        <p>No pages found with that tag.</p>
    {%- endif %}
{%- endblock %}